.subscribe {
    margin-top: 80px;
    background: #1B1B1B;
    border-radius: 15px;
    margin-bottom: -100px;
}

.subs-heading {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */


    color: #FFFFFF;
}

.subs-para {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;

    color: #FFFFFF;

}


.input-group {
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn-box {
    padding-bottom: 10px;
    background: #DC7000;
    border-radius: 8px;
}

.btn-txt {
    width: 69.3px;
    height: 20px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.sec2-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 187.5%;
    /* or 56px */
  
  
    color: #222222;
  }
  
  .section-2 {
    margin-top: 40px;
    margin-left: 0px;
  }

  .sec2-infod {
    margin-left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 187.5%;
    /* or 30px */
  
  
    color: #525252;
  }